{% extends 'base.html' %} 
{% block content %}

<div class="container-fluid padding">
	<form method="post" action="" enctype="multipart/form-data">
		<div class="row">
			<div class="col-12">
				<h1><b>Compose Newsletter</b></h1>
			</div>

			<div class="col-md-8">
				{% csrf_token %}

				<b>{{ form.subject.label }}:</b>
				{{ form.subject }}
				<b style="color:#FF0000">{{ form.subject.errors }}</b>

				<b>{{ form.content.label }}:</b>
				{{ form.content }}
				<b style="color:#FF0000">{{ form.content.errors }}</b>

				<b>{{ form.image.label }}:</b><br/>
				{{ form.image }}
				<b style="color:#FF0000">{{ form.image.errors }}</b><br/>

				<b>{{ form.recipients.label }}:</b>
				{{ form.recipients }}
				<b style="color:#FF0000">{{ form.recipients.errors }}</b>

				<b>{{ form.test_user_email.label }}:</b>
				{{ form.test_user_email }}
				<b style="color:#FF0000">{{ form.test_user_email.errors }}</b>

				
				<br/><input type="submit" value="Send Email Newsletter" class="btn btn-outline-success btn-lg" onclick="return confirm('Are you sure?')" style="margin-bottom: 1rem;">
			</div>

			<div class="col-md-4">
				<h4><b>Content Syntax</b></h4>
				<ul>
					<li>
						Accepts plain text
					</li>
					<li>
						Accepts any html tags (&lt;b&gt;Bold&lt;/b&gt;, &lt;i&gt;Italic&lt;/i&gt;, &lt;br/&gt;New Line, etc.)
					</li>
					<li>
						Also accepts style attributes such as &lt;p style="text-align: center;"&gt;Centered&lt;/p&gt;
					</li>
					<li>
						It does not accept Bootstrap responsive classes
					</li>
				</ul>
			</div>

		</div>
	</form>
</div>

{% endblock content %}