{% load static %}
<div style="text-align: center;">
	<img src="https://calttc.berkeley.edu/static/graphics/logos/logo_banner.png" alt="" style="width: 600px;"/>
</div>

<div style="text-align: center;">
		<img src="{{ image }}" alt="{{ image }}" style="width: 600px;"/>
</div>

<div style="margin-left:auto; margin-right: auto; width: 600px">
	<h3>{{ content|linebreaks}}</h3>
</div>

{% if unsubscribe_link %}
<div style="text-align: center;">
	<br/><br/><br/><br/>
	<a href="{{ unsubscribe_url }}">Unsubscribe {{ email }}</a>
</div>
{% endif %}