# Example environment variables for Django deployment
DJANGO_SECRET_KEY=changeme
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=*
DJANGO_EMAIL_HOST_USER=changeme@example.com
DJANGO_EMAIL_HOST_PASSWORD=changeme
DJANGO_DB_NAME=db.sqlite3
DJANGO_DB_USER=
DJANGO_DB_PASSWORD=
DJANGO_DB_HOST=
DJANGO_DB_PORT=
