{% extends 'base.html' %} 
{% block content %}

<div class="container-fluid padding">
	<div class="row">
		<div class="col-12">
			<h1><b>Privacy Policy</b></h1>

			<h4><b>Collection of Information</b></h4>
			<p>	
				We collect information you provide to us, such as your name and email address
				This information is collected to provide sign-ups, ratings, membership preferences, newsletter subscriptions.
				People will be able to login using their gmail account which means we will also access basic information from those accounts such as profile pictures.
			</p>
			
			<h4><b>Use of Information</b></h4>
			<p>
				We use the personal information to send email notifications through the newsletter and display sign-ups to the the general public.
			</p>

			<h4><b>Opting out from the CalTTC Newsletter</b></h4>
			<p>
				You may opt out of receiving e-mail communications by clicking the "Unsubscribe" link at the bottom
				of the e-mail received or login into your customer account to unsubscribe from future emails.
				Please note that though you may opt out, your personal information may be retained in the database.
			</p>

			<h4><b>Changes to This Policy</b></h4>
			<p>
				This Privacy Policy may be modified, revised or updated at Calttc’s discretion, at any
				time, without notice to you. Please check back from time to time for such amendments. By continuing to view,
				browse or use the website following any such modification or revision, you agree to be bound by such modification or
				revision.
			</p>
				
		</div>
	</div>
</div>

{% endblock content %}
