{% extends 'base.html' %} 
{% load static %}
{% load socialaccount %}
{% load account %}
{% load custom_tags %}

{% block content %}


<!-- Membership -->
<div class="container-fluid padding">
	<div class="row emphasis">
		<div class="col-12">
			<h1><b>Membership</b></h1>
			<hr class="horizontalrule">
			<h4>
				Membership is the best way to support the club as we do not receive funding from the RSF. 
				Membership is for active players that plan to come to many sessions and want to take full advantage of our training sessions.
				<br/><br/>
				<b>Dues provide the club with funding for:</b>
				<ul>
					<li>New tables & nets</li>
					<li>Balls and paddles</li>
					<li>Social events and retreats</li>
				</ul>
				<b>Members also receive perks such as:</b>
				<ul>
					<li>Access to cal table tennis merchandise</li>
					<li>30% off all Joola product purchases</li>
				</ul>
			</h4>
		</div>
	</div>
</div>

<!-- Registration -->
<div class="container-fluid padding" id="registration">
	<div class="row padding">
		<div class="col-12">
			<h1><b>Registration</b></h1>
			<hr class="horizontalrule">
			<h4>
				Cal table tennis membership is limited to enrolled students at UC Berkeley and those with an active 
				<a href="https://recsports.berkeley.edu/memberships/" target="_blank" rel="noreferrer noopener">RSF membership</a>.  
				If you are an enrolled student, you automatically have an active RSF membership because the fees are included in your tuition.
				Before you decide to register for a cal table tennis membership come to an open play to see how you like the club.
			</h4>
				
			<h4>
				<br/>
				<b>Instructions</b><br/>
	
				<ol>
					<li>
						Sign-in to the cal rec sports website through either link below to pay dues.  This will add you the official RSF member list.
						<ul>
						{% for dues_link in dues_links %}
							{% if dues_link.link_url %}
							<li>
								{% if dues_link.link_url and dues_link.link_text%}
									{% if dues_link.link_opens_in_new_tab %}
										<a href="{{ dues_link.link_url }}" target="_blank" rel="noreferrer noopener">{{ dues_link.link_text }}</a>
									{% else %}
										<a href="{{ dues_link.link_url }}">{{ dues_link.link_text }}</a>
									{% endif%}
								{% elif dues_link.link_url%}
									{% if dues_link.link_opens_in_new_tab %}
										<a href="{{ dues_link.link_url }}" target="_blank" rel="noreferrer noopener">{{ dues_link.link_url }}</a>
									{% else %}
										<a href="{{ dues_link.link_url }}">{{ dues_link.link_url }}</a>
									{% endif %}
								{% endif %}
							</li>
							{% endif %}
						{% endfor %}

						</ul>
					</li>
					<li>
						Once you paid dues, register below.  This will allow us to update your membership status on the cal table tennis website.
					</li>
				</ol>
					
				{% if not user.is_registered and not user.is_member %}
					<a href={% url 'register' %} class="btn btn-secondary">Register</a>	
				{% elif user.is_registered and not user.is_member%}
					</h4>
						<p>
							You have submitted your membership request.  Our president will approve your request and update your membership status if you have paid dues.
							Once your request has been processed you will receive an email confirmation.  If you are approved your profile will be displayed with 🏓.
						</p>
					<h4>
					<a href={% url 'unregister' %} class="btn btn-secondary">Unregister</a>
				{% else %}
					</h4>
						<p>
							No need to register because you are already a member of Cal Table Tennis 🏓.
						</p>
					<h4>
				{% endif %}
					
			</h4>
		</div>
	</div>
</div>
<div class="container-fluid padding">
	<div class="row padding">
		<div class="col-12">
			{% if user.is_staff %}
			<b><a href={% url 'edit-dues-link' 1 %} class="btn btn-outline-info btn-md" style="margin-bottom: 1rem;">Edit Dues Link 1</a></b>
			<b><a href={% url 'edit-dues-link' 2 %} class="btn btn-outline-info btn-md" style="margin-bottom: 1rem;">Edit Dues Link 2</a></b>
			{% endif %}
		</div>
	</div>
</div>


<!-- Donations -->
<div class="container-fluid padding" id="donations">
	<div class="row padding">
		<div class="col-12">
			<h1><b>Donations</b></h1>
			<hr class="horizontalrule">
			<h4>
				Our club is funded by donations and membership dues. 
				The best way to support the club is to buy a membership but if you are not a Cal student you can also support us by donating through the 
				<a href="https://givingday.berkeley.edu/giving-day/60202/donate?dept=60796">Big Give</a>. Anything helps! 
			</h4>
		</div>
	</div>
</div>

{% endblock content %}